# Copiar este archivo como .env y completar los valores reales
# NUNCA commitear el .env con credenciales reales

# Aurora PostgreSQL
DB_HOST=db-gestion-vuelos.ctqajzw7os3h.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=gestion_vuelos
DB_USER=postgres
DB_PASSWORD=tu_password_aqui

# Aplicación
APP_ENV=development
SECRET_KEY=cambia_esto_en_produccion

# Bloqueo temporal de asiento en segundos (RNF-006: 10 min = 600)
SEAT_LOCK_TIMEOUT_SECONDS=600
